@media only screen and (max-width : 717px) {
    html {
        font-size: 11px;
    }
    body p, li, #personName p,#personName li, #about .content p, #connect p,#connect input, #connect textarea{
        font-size: 1.25rem;
    }
    .blockCard .element:nth-child(3n+1){
        display: none;
    }
    .menu-right .burgerMenu{
        display: block;
    }

    .menu-right ul{
        display: none;
        grid-template-rows: repeat(8,1fr);
        align-items: center;
        justify-items: center;
        margin: 0;
    }
    .menu-right li{
        font-size: 2em;
        margin: 0;
    }
    .menu-right{
        display: none;
    }
    .blockCard{
        grid-template-rows: 1fr auto;
    }
    .blockTwo{
        padding: 60px 7vw;
    }
    i{
        transition-duration: .5s;
        font-size: 1.9rem;
        margin-right: 1.3em;
    }
    .link i{
        font-size: 2.3em;
    }
    #header{
        background: linear-gradient(rgba(0, 0, 0,.8)100%, white), url("https://sud.ua/uploads/old/news/1402494373.jpg") center;
        background-size: cover;
    }

    #header .menu{
        display: none;
    }
    #header .content{
        text-align: center;
    }

    /*#personName .element .card:nth-child(1n+3),#personName .element:nth-child(4){*/
    /*    display: none;!*Карусель*!*/
    /*}*/

    #personName .element:nth-child(2){
        background: linear-gradient(rgba(0,0,0,0.8) 100%, white), url("../res/processed.jpeg");
        background-size: cover;
    }

    #personName .element:nth-child(2){
        background-size: cover;
    }
    #personName p{
        font-size: 1.25rem;
    }
    #biography .element:nth-child(2){
        background: linear-gradient(rgba(0,0,0,.9) 100%,white), url("../res/alla5.jpg") center;
        background-size: cover;
    }
    #biography p{
        margin: 0;
    }
    #biography .element:nth-child(3){
        background-position:  center;
        background-size: cover;
    }
    #about, #comment{
        padding: 1em;
    }
    #about p, #comment p{
        width: auto;
    }
    #about .content{
        grid-template-columns: 1fr;
        width: 80vw;
    }
    #about .content li{
        margin-left: 0;
        line-height: 2em;
    }
    #about .content p{
        grid-template-columns: 1fr;
        width: auto;
    }
    #about .content p:nth-child(2){
        display: none;/*Карусель*/
    }
    #about .interval{
        display: none;
    }
    #case .content, #connect, .blockCard{
        grid-template-columns: 1fr;
    }
    #case .button{
        grid-column: 1;
    }
    #connect .element:nth-child(1) li{
        grid-template-columns: auto auto 1fr 1fr;
    }
    #footer .content{
        justify-items: start;
        grid-gap: 1em;
        line-height: 25px;
    }

    #footer span{
        font-size: 1rem;
    }
    .sliderDC{
        display: none;
    }
    .slider {
        display: block;
        user-select: none;
        touch-action: pan-y;
    }
    .slider img {
        poiner-events: none;
    }
    .slider-list {
        width:  calc(100vw - 6em);
        overflow: hidden;
    }
    .slider-list.grab {
        cursor: grab;
    }

    .slider-list.grabbing{
        cursor: grabbing;
    }
    .slider-track {
        display: flex;
    }
    .slide {
        width: calc(100vw - 6em);
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
    .slider-arrows{
        display: block;
        text-align: center;
    }
    .next,
    .prev {

        background: none;
        border: none;
        margin: 0 10px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .next.disabled,
    .prev.disabled {
        opacity: .25;
        pointer-events: none;
    }

}

@media only screen and (max-width : 417px) {
    .blockCard .element {
        min-height: auto;
        padding: 3em;
    }
    #case .card{
        width: 90vw;
    }
    #connect .consultation form{
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    #connect .consultation *{
        grid-column: 1;
    }
    #connect .element{
        padding: 3em;
    }
    #footer .partner a{
        text-align: center;
        display: block;
        position: relative;
    }
    #footer .partner .slider-arrows{
        display: none;
    }
    #footer .slider{
        color: rgba(255,255,255,.9);
    }
    #footer .content{
        grid-template-columns: 1fr 1fr;
    }
    .citeInfo{
        display: none;
    }
}

@media only screen and (max-width : 370px) {
    #connect li{
        font-size: .9em;
    }
   #footer p, #footer li, #footer span{
       font-size: .95rem;
   }
    #footer .content{
        line-height: 20px;
    }
}
