@media only screen and (max-width : 717px) {
    html {
        font-size: 11px;
    }
    #personName .element:nth-child(1){

    }
    .menu-right{
        display: none;
    }
    #header .menu{
        display: none;
    }
    #header .content{
        text-align: center;
    }
    .blockCard{

        grid-template-rows: 1fr 1fr;
    }

    #personName .element .card:nth-child(1n+3),#personName .element:nth-child(4){
        display: none;/*Карусель*/
    }

    #personName .element:nth-child(2){
        background: linear-gradient(rgba(0,0,0,0.8) 100%, white), url("../res/alla5.jpg");
        background-size: cover;
    }

    #about, #comment{
        text-align: center;
        padding: 1em;
    }

    #about p, #comment p{
        width: auto;
    }
    #about .content{
        grid-template-columns: 1fr;
    }

    #about .content p:nth-child(2){
        display: none;/*Карусель*/
    }
    #about .interval{
        display: none;
    }
    #case .content, #connect, .blockCard{
        grid-template-columns: 1fr;
    }
    #case .button{
        grid-column: 1;
    }
    #connect .element:nth-child(1) li{
        grid-template-columns: auto 1fr 1fr;
    }
    #footer .partner a:nth-child(1n+3){
        display: none;/*Карусель*/
    }
}
@media only screen and (max-width : 414px) {
    .blockCard .element{
        min-height: 80vh;
        padding: 3em;
    }
    #case .card{
        width: 90vw;
    }
    #connect .consultation form{
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    #connect .consultation *{
        grid-column: 1;
    }
    #connect .element{
        padding: 3em;
    }
    #footer .partner a:nth-child(1n+2){
        display: none;/*Карусель*/
    }
    #footer .content{
        grid-template-columns: 1fr 1fr;
    }
}
