*{

    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
:root{
    --main-color: rgb(136, 103, 80);
    --main-color2: #9f9f9f;
    --main-color3: 255,255,255;
    --main-color4: rgb(217, 209, 196);
    --main-color5: rgb(196, 196, 196);
    --main-color6: rgb(245,245,245);
    --main-color7: #222222;
    --main-colorLite: rgba(114, 59, 49,0.95);
}
/*Global*/
em,.button{
    position: relative;
    text-transform: uppercase;
    z-index: 3;
}
h1,h2,h3{
    font-family: "Playfair Display", serif;
    font-style: normal;
}
h1{
    letter-spacing: 0.238em;
    font-size: 1.3rem;
    color: aliceblue;
    opacity: 0.8;
}
h1 span{
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.7em 0.4em;
    font-size: 1.3em;
    border: 3px solid var(--main-color);
    color: var(--main-color);
}
h2{
    color: rgb(var(--main-color3));
    font-size: 2.8rem;
    font-weight: 700;
}
h3{
    font-size: 1.625rem;
    font-weight: 400;
}
p,ul{
    font-size: 1.0625rem;
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--main-color4);
}
ul li{
    font-weight: 400;
}
em{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.93rem;
    letter-spacing: 0.2em;
    margin-bottom: 0.66em;
    color: var(--main-color);
}
i{
    transition-duration: .5s;
    font-size: 1.3em;
}
i:hover{
    filter: drop-shadow(0 0 .3em)
}
.button{
    display: inline-block;
    background: var(--main-color);
    font-size: 0.8rem;
    border: none;
    padding: 1.5em 2.5em;
    border-radius: 0.616em;
    color: rgb(var(--main-color3));
}
.block{
    display: grid;
    justify-items: center;
    align-items: center;
    border: 1px solid var(--main-color5);
    padding: 9.125em 0;
}
.blockTwo{
    padding: 60px 10vw;
}
.blockCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    color: rgba(var(--main-color3),0.9);
}

.blockCard p.blockCard ul{
    line-height: 27px;
    color: rgba(217, 209, 196,0.8);
}
.blockCard .element{
    display: grid;
    align-content: center;
    min-height: 90vh;
    padding: 1.875em 7.1875em 1.875em 5.625em;
}
.title{
    text-align: center;
    margin: 0 0 2em;
}
.title h2::after{
    content: "";
    margin: .45em auto 0;
    display: block;
    height: 30px;
    width: 1px;
    background: var(--main-color);
}
.titleCard em{
    display: block;
    margin-top: 1.5em;
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    text-transform: none;
    font-size: 1.25rem;
    font-weight: 400;
}
.titleCard::after{
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    border-radius: 5px;
    background: var(--main-color);
    margin: 2.6em 0;
}
.content{
    display: grid;
}
/*Header*/
#header{
    display: grid;
    grid-template-rows: auto 1fr;
    padding:  1.5em 10vw 0;
    align-items: center;
    height: 100vh;
    background: url("../res/header_slider_01.jpg") fixed;
    background-size: cover;
}
#header nav{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
#header .menu{
    font-size: 1.1rem;
    padding: 20px 40px;
    border-radius: 15px 15px 40px 40px ;
    font-weight: 100;
    color: var(--main-color5);
    background: rgba(0,0,0, 0.9);
    opacity: 0.5;
    transition-duration: 0.5s;
}
#header .menu:hover{
    background: rgba(0,0,0, 0.3);
    opacity: 0.8;
    cursor: pointer;
}
#header nav .menu li{
    display: inline;
    padding-bottom: 0.2em;
    margin: 0 0.5em;
}
#header .menu li:hover{
    color: var(--main-color6);
    border-bottom: 2px solid var(--main-color);
}
#header .content{
    color: white;
}
#header em{
    position: relative;
    font-size: 1.5rem;
    text-transform: none;
}
#header .content p{
    margin: 45px .2em;
    font-size: 4rem;
}
#header .content p span{
    color: var(--main-color);
}
/*Person Name*/
#personName .fonts{
    margin: 1em 0;
    font-size: 3rem;
    font-family: 'Allura', cursive;
    color: var(--main-color);
}
#personName:before{
    content: "";
    position: absolute;
    bottom: -80px;
    grid-column: span 2;
    display: block;
    height: 50vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(21,25,28,.8) 0%, rgba(21,25,28,.1) 100%);
    filter: blur(60px);
    z-index: 0;
}

#personName .titleCard::after {
    width: 60px;
    background: rgba(var(--main-color3),0.8);
}
#personName .element:nth-child(1){
    position: relative;
    background: url("../res/processed.jpeg");
    background-size: 100% auto;
}
#personName .element:nth-child(2){
    position: relative;
    background: url("../res/page122.jpg");
    background-size: cover;
}
#personName .element:nth-child(2) h2{
    margin: 0.27em 0 .4em;
    font-size: 4.625rem;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(var(--main-color3));
}
#personName >.element:nth-child(3){
    background: linear-gradient(var(--main-colorLite),var(--main-colorLite)), url("https://loyer.com.ua/wp-content/uploads/2017/08/newyorkshutter.jpg");
    grid-gap: 1.87em;
    background-size: cover;
}
#personName >.element:nth-child(4){
    background: url("../res/page124.jpg");
    background-size: cover;
}
#personName .card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .6em;
}
#personName .card .text{
    margin: 0 1.25em;
}
#personName .card p,#personName .card ul{
    line-height: 1.7;
    margin: 1.76em 0 0.3em 30px;
}
#personName .painting{
    margin: 30px 0;
}
#personName .link{
    color: rgb(var(--main-color3));
}
#personName i{
    margin: 0.5em;
}
/*About*/
#about{
    padding: 3.125em;
    background: url("../res/layer-bg1.jpg");
    background-size: cover;
}
#about h2{
    margin-top: 20px;
}

#about .content{
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.6rem;
}
#about .content p{
    width: 27em;
    line-height: 29px;
    color: var(--main-color5);
}
#about .interval{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 4.2rem;
    text-align: center;
    justify-items: center;
}
#about .card em{
    font-family: Playfair Display, serif;;
    padding-bottom: 25px;
    font-size: 3.25rem;
    color: white;
}
#about .card p{
    text-align: justify;
    margin-top: 25px;
    color: var(--main-color);
}
/*Biography*/
#biography .blockCard{
    grid-template-rows: 1fr 1fr;
}
#biography .element:nth-child(1){
    background: url("../res/hp3-half-bg.jpg");
    background-size: cover;
}
#biography .element:nth-child(2){
    background: var(--main-color7);
    background-size: cover;
}
#biography .element:nth-child(3){
    grid-gap: 30px;
    background: var(--main-color7);
    background-size: cover;
}
#biography .element:nth-child(4){
    background: url("../res/page126.jpg");
    background-size: cover;
}
#biography .titleCard em{
    line-height: 34px;
}
#biography p{
    margin: 25px;
    display: inline;
    color: var(--main-color4);
    line-height: 28.9px;
}
#biography i{
    color: white;
    font-size: 1.3em;
    margin: 10px 0 0 20px;
}
/*Case Study*/
#case{
    padding: 80px 0;
    display: grid;
    justify-items: center;
    background: url("../res/work-bg.jpg");
    background-size: cover;

}
#case .content{
grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
}
#case .card{
    width: 386px;
    overflow: hidden;
}
#case .img{
    border-radius: 5px 5px 0 0;
    width: inherit;
    height: 275px;
}
#case img{
    height: inherit;
}
#case h2,#case h3{
    color: var(--main-color7);
}
#case h3{
    background: rgba(var(--main-color3),0.9);
    padding: 30px 60px 40px;
    font-size: 1.125rem;
    font-weight: 700;
}
#case .button{
    margin: 20px;
    grid-column: 2;
}
#case .button i{
    margin-left: .3em;
}
/* Comment*/
#comment{
    padding: 3.125em;
    text-align: center;
    background: url("../res/walk-way-1.jpg");
   margin: auto;
    justify-items: center;
}
#comment h3{
    line-height: 32px;
    color: rgba(var(--main-color3));
}
#comment i{
    margin-bottom: 30px;
    font-size: 5.625rem;
    display: block;
    color: var(--main-color);
}
#comment em{
    letter-spacing: 0;
    font-weight: 400;
}
#comment p{
    color: rgb(201, 201, 201);
    display: inline-block;
    width: 45em;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    line-height: 34px;
}
#comment .contact{
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
#comment img{
    height: 62px;
    border-radius: 50%;
}
#comment .text{
    text-align: center;
}
#comment .text h3{
    margin-bottom: .3em;
}
/* connect / contact / consultation*/
#connect{
    grid-template-rows: 1fr;
}
#connect .element{

    align-content: start;
    padding-top: 6em;
    padding-bottom: 9em;
    grid-gap: 20px;
    min-height: auto;
}
#connect li{
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 1fr 3fr;
}
#connect i{
    color: var(--main-color);
    margin-right: 20px;
}
#connect input{
    border: none;
    padding: 1em .8em;
}
#connect .email{
    width: 50%;
}
#connect .contact input[type="button"]{
    margin-left: -4px;
}
#connect input[type="button"]{
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--main-color);
    color: rgb(var(--main-color3));
}
#connect li{
    font-family: "Poppins", sans-serif;
    font-size: 0.93rem;
    font-weight: 400;
    line-height: 31px;
    color: var(--main-color2);
}#connect p{
    line-height: 27px;
    color: var(--main-color2);
 }
#connect h2{
    color: var(--main-color7);
 }

#connect .contact{
    background: var(--main-color6);
}
#connect textarea{
    border: none;
    height: 119px;
    padding: 18px 22px;
}
#connect .consultation form{
    color: var(--main-color2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
}
#connect .consultation input[type="text"], #connect textarea{
    background: var(--main-color6);
}
#connect .consultation textarea,#connect .consultation input[type="button"]{
    grid-column: span 2;
}
/*Footer*/
footer{
    background: var(--main-color7);
}
footer .partner{
    display: grid;
    grid-auto-flow: column dense;
}
footer hr{
    margin: 30px 0;
    opacity: 0.4;
}
footer .content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    line-height: 28px;;
    color: rgb(171, 171, 171);
}
footer h2 img{
    height: 37px;
    margin-bottom: 20px;
}
footer h3{
    margin-bottom: 30px;
    color: var(--main-color6);
    font-size: 1.5rem;
}
footer .link{
    color: var(--main-color);
}
footer i{
    color: var(--main-color);
    margin-right: 10px;
}
.citeInfo{
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-items: end;
    grid-gap: 50px;
    padding-top: 1em ;
    padding-bottom: 1em ;
    background:rgba(0, 0, 0,0.9);
    color:rgb(163, 163, 163);
}
.citeInfo p{
    margin: 0;
}
.menu-right{
    position: fixed;
    padding: 1em;
    border-radius: 2em 0 0 2em;
    width: 8%;
    right: 20px;
    top: 35%;
    z-index: 3
}
.menu-right:hover{
    background: rgba(0,0,0,0.3);
}
.menu-right > *{
    text-align: right;
    margin: 1em 0;
}
.menu-right > li:hover{
    margin-right: 0.5em;
    font-size: 1.2em;
}
.tellPhone i{
    position: fixed;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    font-size: 2rem;
    border-radius: 50%;
    background: var(--main-color);
    color: white;
}
